:root {
    --lkt-tag-gap: 15px;
    --lkt-tag-font-size: 14px;
    --lkt-tag-font-weight: 14px;
    --lkt-tag-text-align: center;
    --lkt-tag-padding: 15px;
    --lkt-tag-min-width: initial;
    --lkt-tag-max-width: initial;
    --lkt-tag-width: initial;
    --lkt-tag-bg: #ffffff;
    --lkt-tag-bg-hover: #ffffff;
    --lkt-tag-color: #444444;
    --lkt-tag-color-hover: #444444;
    --lkt-tag-border-radius: 1px;
    --lkt-tag-border-width: 1px;
    --lkt-tag-border-style: solid;
    --lkt-tag-border-color: #ffffff;
    --lkt-tag-border-color-hover: #ffffff;
    --lkt-tag-transition: all linear 300ms;
}